{% extends "index.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('BetterChart.static', filename='vendor/dygraph/dygraph.css') }}">
    <script src="{{ url_for('BetterChart.static', filename='vendor/dygraph/dygraph.min.js') }}"></script>



<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <!-- <div class="panel-heading">{{file}}</div> -->
                <div class="chart-container" style="height: 550px;">
                    <div id="graphdiv" style="width:100%; height:550px;"></div>
                </div>

            </div>
        </div>
    </div>

    
<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv"),
         [
            {% for r in data|sort %} [new Date("{{r}}"),{{data[r][0] or "null"}},{{data[r][1] or "null"}}, ],
            {% endfor %}
              ],
              {
                connectSeparatedPoints: true,
                labels: ['Date', 'Setpoint', 'Sensor'],
                legend: 'always',
                animatedZooms: true,
                axis : {
                        x : {
                            valueFormatter: Dygraph.dateString_,
                            ticker: Dygraph.dateTicker
                        }
                }
              }
              
              
              
              );
</script>
    
    

{% endblock %}