{% extends "index.html" %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('BetterChart.static', filename='vendor/dygraph/dygraph.css') }}">
    <script src="{{ url_for('BetterChart.static', filename='vendor/dygraph/dygraph.min.js') }}"></script>



<div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="chart-container"> <!--style="height: 550px;"-->
                    <div id="graphdiv" style="width:100%; height:550px;"></div>
                </div>

            </div>
        </div>
    </div>
    
<script type="text/javascript">
  g2 = new Dygraph(
    document.getElementById("graphdiv"),
         [
            {% for r in data['data']|sort %} [new Date("{{r}}"), {% for x in range(data['ids_to_read']|length) %} {{data['data'][r][x] or "null"}}, {% endfor %}],
            {% endfor %}
              ],
              {
                connectSeparatedPoints: true,
                labels: ['Date', {%  for id in data['ids_to_read'] %}{% if id[0] == 'sensor' %}"{{id[2].decode("utf-8")}}", {% else %} "{{'Setpoint'}}", {% endif %} {% endfor %}],
                legend: 'always',
                animatedZooms: true,
                axis : {
                        x : {
                            valueFormatter: Dygraph.dateString_,
                            ticker: Dygraph.dateTicker
                        }
                }
              }
              
              
              
              );
</script>

{% endblock %}

